#menu{
  ~.menu{
    >#group_create{
      >label{top:calc( var(--vh) * 32 );transition:0.3s;}
      >h2{transition:0.3s;}
      form{width:100vw;height:calc( var(--vh) * 56.5 );left:0;
        div[data-sitekey]{position:absolute;top:calc( var(--vh) * 12);left:0;transition:0.3s;}
        .field{position:absolute;left:0;transition:0.3s;
          label[class$="button"]{width:calc( var(--vh) * 5 );height:calc( var(--vh) * 5 );margin:0 0 0 5vw;border-radius:calc( var(--vh) * 3 );font-size:4vw;text-align:center;cursor:pointer;
            &.add_button{background:cornflowerblue;
              &::before{content:'add';}
            }
            &.del_button{background:palevioletred;
              &::before{content:'del';}
            }
          }
          &:nth-of-type(1){top:0;}
          &:nth-of-type(2){top:calc( var(--vh) * 6 );}
          &:nth-of-type(4){top:calc( var(--vh) * 22 );}
          &:nth-of-type(5){top:calc( var(--vh) * 33 );}
          &:nth-of-type(n+6){left:100vw;}
          &:nth-of-type(6){top:0;}
          &:nth-of-type(7){top:calc( var(--vh) * 28 );}
        }
        #group_members{height:calc( var(--vh) * 19 );}
        #searched_member,#searched_tags,#group_tags{height:calc( var(--vh) * 24 );}
        #searched_member,#searched_tags,#group_members,#group_tags{background:rgba(255,255,255,0.2);margin-left:1vw;border-radius:calc( var(--vh) * 0.5 );overflow:scroll;
          >div{height:calc( var(--vh) * 10 );width:93vw;padding:calc( var(--vh) * 2.5 ) 0;margin:0 2.5vw;line-height:calc( var(--vh) * 5 );display:flex;justify-content:flex-end;
            >span{font-size:4vw;}
            &:nth-last-of-type(n+2){border-bottom:groove 1px;}
            &:last-of-type{padding-bottom:0;}
          }
        }
        #searched_member{height:calc( var(--vh) * 10 );}
        #searched_tags{
          &::after{content:'';position:fixed;top:calc( var(--vh) * 67.5 );left:149vw;border-style:solid;border-width:4vw 2vw 0 2vw;border-color:white transparent;opacity:0.7;transition:0.3s;}
        }
        .actions{position:absolute;bottom:0;}
      }
      >#turn-tags:checked{
        +label{right:100vw;}
        ~{
          h2{left:-97vw;}
          form{
            .field{
              &:nth-of-type(n+1){left:-100vw;}
              &:nth-of-type(n+6){left:0;}
            }
            div[data-sitekey]{left:-100vw;}
          }
        }
      }
      >#turn-members:checked{
        +label{left:100vw;}
        ~{
          h2{left:3vw;}
        }
      }
      #group__menu{
        width:10vw;
        height:calc( var(--vh) * 10);
        position:fixed;
        top:calc( var(--vh) * 42);
        left:0;
        cursor:pointer;
        &::before{
          content:'';
          position:fixed;
          border:calc( var(--vh) * 1) solid transparent;
          border-left:calc( var(--vh) * 1) solid #6aa7cd;
          top:calc( var(--vh) * 46);
          animation:turn_right 2s infinite;
          transition:0.3s;
        }
      }
      #group__datas{
        width:30vw;
        max-height:calc( var(--vh) * 100);
        position:fixed;
        top:0;
        left:-30vw;
        font-size:0;
        color:black;
        transition:0.3s;
        overflow-y:scroll;
        overflow-y:visible;
        &.close{
          left:0;
        }
        >*+*{
          border-top:solid 1px white;
          font-size:4vw;
        }
        .group__data{
          pointer-events:auto;
          ul{
            display:none;
          }
          &:hover ul{
            background:gainsboro;
            display: block;
            position:absolute;
            top:0;
            left:30vw;
            li{
              width:30vw;
              padding:calc( var(--vh) * 1);
              font-size:4vw;
              cursor:pointer;
              &~li{
                border-top:solid 1px white;
              }
              span{
                display:none;
              }
            }
          }
        }
        .group__data:first-of-type::before{
          content:'ALL';
          box-sizing:border-box;
          width:30vw;
          padding:calc( var(--vh) * 1);
          position:fixed;
          font-size:4vw;
          line-height:calc( var(--vh) * 3);
          cursor:pointer;
        }
        .group__name{
          background:gainsboro;
          height:calc( var(--vh) * 5);
          padding:calc( var(--vh) * 1);
          line-height:calc( var(--vh) * 3);
          overflow:hidden;
          cursor:pointer;
        }
        &.close+#group__menu::before{
          transform:scale(-1, 1);
        }
      }
    }
  }
}

#menu:checked{
  ~.menu{
    >#group_create{
      >#turn-tags:checked{
        +label
        ~{
          form>#searched_tags::after{left:49vw;}
        }
      }
      >#turn-members:checked{
        +label
        ~{
          form>#searched_tags::after{left:149vw;}
        }
      }
    }
  }
}





@media screen and (min-width:481px){

  #menu{
    ~.menu{
      >#group_create{
        >label{display:none;}
        form{
          div[data-sitekey]{width:50vw;left:49vw;}
          .field{width:48vw;
            div{font-size:2vh;}
            label[class$="button"]{margin-left:3%;font-size:2vh;}
            &:nth-of-type(n+1){left:0;}
            &:nth-of-type(n+6){left:50vw;}
          }
          #searched_member,#searched_tags,#group_members,#group_tags{margin:0 1vw;
            >div{height:7vh;width:96%;padding:1vh 0;margin:0 2%;}
          }
          #searched_tags{
            &::after{left:174vw;border-width:1vh 1vw 0 1vw;}
          }
        }
        >#turn-tags:checked,>#turn-members:checked{
          +label{right:0;}
          ~{
            h2{left:3vw;}
            form{
              .field{
                &:nth-of-type(n+1){left:0;}
                &:nth-of-type(n+6){left:50vw;}
              }
              #searched_tags{
                &::after{left:174vw;border-width:1vh 1vw 0 1vw;}
              }
            }
          }
        }
      }
    }
  }

  #menu:checked{
    ~.menu{
      >#group_create{
        form{
          div[data-sitekey]{width:50vw;left:-51vw;}
          #searched_tags{
            &::after{left:74vw!important;}
          }
        }
        >div{
          +label
          ~{
            form>#searched_tags::after{left:74vw!important;}
          }
        }
      }
    }
  }

}